<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
    <header>
        <nav>
            <a href="/">Start</a>
            <a href="/addcourse">Add <br> course</a>
            <a href="/about">About</a>
        </nav>
    </header>
    
    <div class="container">
    <H1>Kurser</H1>

    <h2>Lägg till kurser</h2>
    
    <% if (errors && errors.length > 0) { %>
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error %></li>
            <% }); %>
        </ul>
    <% } %>
    
    <form id="inputform" action="/addcourse" method="post" >
        <label for="code">Kurskod</label>
        <input type="text" id="code" name="code" value="<%= code %>" required>
        <br>
        <label for="kursnamn">Kursnamn</label>
        <input type="text" id="kursnamn" name="kursnamn" value="<%= kursnamn %>" required>
        <br>
        <label for="progression">Progression</label>
        <input type="text" id="progression" name="progression" value="<%= progression %>" required>
        <br>
        <label for="syllabus">Lånk/URL</label>
        <input type="text" id="syllabus" name="syllabus" value="<%= syllabus %>" required>
        <br>
        <button type="submit">Lägg till data</button>
    </form>


    <h2>Tillagda kurser</h2>

    <table id="tabell">
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Progression</th>
            <th>URL</th>
        </tr>
        <% messages.forEach((message) => { %>
            <tr>
                <td><%= message.code %></td>
                <td><%= message.name %></td>
                <td><%= message.progression %></td>
                <td><%= message.syllabus %></td>
                <td class="tdbutton">
                    <form method="post" action="/removecourse">
                        <input type="hidden" name="code" value="<%= message.code %>">
                        <input type="submit" value="Radera">
                    </form>
                </td>
            </tr>
        <% }) %>
    </table>

</div>

</body>
</html>